#### SQL lite and SQL
SQL is standard language for managing and manupulating relational databases. SQLlite is self contained, serverless and zero configurations data engines that is widely used for embeded database system.

In [2]:
import sqlite3

In [3]:
# Connect to SQLlite databases
connection = sqlite3.connect('example.db')
connection

In [4]:
# creating cursor
cursor = connection.cursor()

In [5]:
cursor.execute('''
Create Table If Not Exists employee(
    id Int Primary Key,
    name Text not null,
    age Int,
    department Text)
''')

# commit the changes
connection.commit()

In [6]:
cursor.execute('''
    Select * from employee
''')

In [7]:
## inserting data
cursor.execute('''
    INSERT INTO employee (name, age, department)
    VALUES 
      ("Gaurav", 21, "IT"),
      ("Vedant", 27, "CS"),
      ("Ashish", 24, "Mech");

''')

#commit changes
connection.commit()

In [29]:
# Query the data
cursor.execute('Select * from employee')
rows = cursor.fetchall()

#print the queried data
for row in rows:
    print(row)

(None, 'Gaurav', 22, 'IT')
(None, 'Vedant', 27, 'CS')
(None, 'Gaurav', 22, 'IT')
(None, 'Vedant', 27, 'CS')

In [23]:
#Update the record
cursor.execute('''
UPDATE employee
SET age = 22
WHERE name = 'Gaurav'
''')

connection.commit()

In [27]:
#delete the data
cursor.execute('''
DELETE FROM employee
WHERE name = 'Ashish'
''')

connection.commit()

#### Working for sales data

In [32]:
connect = sqlite3.connect('sales.db')
cursor = connect.cursor()

In [34]:
#creating table
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales(
id INT PRIMARY KEY,
date TEXT NOT NULL,
product TEXT NOT NULL,
sales INT,
region TEXT
)
''')

#inserting many records at a time
sales_data = [
    ("2025-01-01","Laptop",160,"Russia"),
    ("2025-01-02","PC",50,"china"),
    ("2025-01-03","Mics",200,"USA"),
    ("2025-01-04","Mobiles",280,"IND"),
    ("2025-01-05","Music System",40,"Korea"),
    ("2025-01-06","TV",300,"Britan")
]

cursor.executemany('''
INSERT INTO sales(date,product,sales,region)
VALUES(?,?,?,?)
''',sales_data)

connect.commit()

In [36]:
cursor.execute("SELECT * FROM sales")
row = cursor.fetchall()

for rows in row:
    print(rows)

(None, '2025-01-01', 'Laptop', 160, 'Russia')
(None, '2025-01-02', 'PC', 50, 'china')
(None, '2025-01-03', 'Mics', 200, 'USA')
(None, '2025-01-04', 'Mobiles', 280, 'IND')
(None, '2025-01-05', 'Music System', 40, 'Korea')
(None, '2025-01-06', 'TV', 300, 'Britan')

In [38]:
#close the connection
connect.close()

#previous dataset
connection.close()