In [1]:
import pandas as pd
from io import StringIO
Data = '{"employee_name": "James", "email": "james@gmail.com", "job_profile": ["Team Lead","Sr. Developer"]}'
df = pd.read_json(StringIO(Data))

In [2]:
df

  employee_name            email    job_profile
0         James  james@gmail.com      Team Lead
1         James  james@gmail.com  Sr. Developer

In [3]:
#converting back to json
df.to_json()

'{"employee_name":{"0":"James","1":"James"},"email":{"0":"james@gmail.com","1":"james@gmail.com"},"job_profile":{"0":"Team Lead","1":"Sr. Developer"}}'

In [4]:
df.to_json(orient='records')

'[{"employee_name":"James","email":"james@gmail.com","job_profile":"Team Lead"},{"employee_name":"James","email":"james@gmail.com","job_profile":"Sr. Developer"}]'

In [5]:
## Reading data from URL
df1 = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data')
df1.head()

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

In [6]:
#Converting back to csv file
df1.to_csv('converted_file.csv')  #in bracket it is file name we want to given

In [7]:
#Reading Data from HTML
url = 'https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/'
df2 = pd.read_html(url)

In [8]:
df2[0].head()

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund Sort ascending
0,The Santa Anna National Bank,Santa Anna,Texas,5520,Coleman County State Bank,"June 27, 2025",10549
1,Pulaski Savings Bank,Chicago,Illinois,28611,Millennium Bank,"January 17, 2025",10548
2,The First National Bank of Lindsay,Lindsay,Oklahoma,4134,First Bank & Trust Co.,"October 18, 2024",10547
3,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
4,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545

In [12]:
!pip install html5lib

Collecting html5lib
  Downloading html5lib-1.1-py2.py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: six>=1.9 in c:\anaconda\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\anaconda\lib\site-packages (from html5lib) (0.5.1)
Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
Installing collected packages: html5lib
Successfully installed html5lib-1.1

In [22]:
url1="https://en.wikipedia.org/wiki/Mobile_country_code"
pd.read_html(url1,match="Country",header=0)[0]
#showing error due to restriction of site to scrap data

HTTPError: HTTP Error 403: Forbidden

In [24]:
df4 = pd.read_csv('data.csv')
df4.head()

         Date Category  Value   Product  Sales Region
0  2023-01-01        A   28.0  Product1  754.0   East
1  2023-01-02        B   39.0  Product3  110.0  North
2  2023-01-03        C   32.0  Product2  398.0   East
3  2023-01-04        B    8.0  Product1  522.0   East
4  2023-01-05        B   26.0  Product3  869.0  North

In [26]:
#converting it to Picle file
#A pickle file in Python is a serialized representation of a Python object, stored in a binary format.
#Basically for security purposes
df4.to_pickle('data_pickle_converted')
#you want able to open it

In [28]:
#reading this pickle file
df5 = pd.read_pickle('data_pickle_converted')
df5.head()

         Date Category  Value   Product  Sales Region
0  2023-01-01        A   28.0  Product1  754.0   East
1  2023-01-02        B   39.0  Product3  110.0  North
2  2023-01-03        C   32.0  Product2  398.0   East
3  2023-01-04        B    8.0  Product1  522.0   East
4  2023-01-05        B   26.0  Product3  869.0  North